@charset "utf-8";

/*↓枠↓*/
.error {
	width:100vw;
	background:#C00; background-image:radial-gradient(farthest-side circle at center 10%, #C00 10%, #400 100%, #600 120%);
	}
.error--inner {
	position:relative;
	width:720px;
	text-align:center;
	padding:24px 8px;
	margin:0 auto;
	}
@media screen and (max-width:959px){
.error--inner { width:auto;}
}
/*↑枠↑*/
/*↓英語↓*/
.error .code404 li,
.error .code404 li:after {
	animation-duration:1.0s;
	animation-direction:alternate-reverse;
	animation-timing-function:ease-in;
	animation-iteration-count:infinite;
	}
@keyframes message-li {
from { opacity:0.8; color:#FFF;} to { opacity:0.4; color:#000;}
}
@keyframes message-li-after {
from { background:#FFF;} to { background:#000;}
}
.error .code404 { margin-bottom:32px;}
.error .code404 * {
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	line-height:1.0;
	}
.error .code404 ul { display:inline-block;}
.error .code404 li { animation-name:message-li;}
.error .code404 li.big { font-size:128px;}
.error .code404 li.big:after {
	display:block;
	width:100%; height:4px;
	background:#FFF;
	margin-bottom:8px;
	animation-name:message-li-after;
	content:'';
	}
.error .code404 li.big span { font-size:192px;}
.error .code404 li.sml { font-size:64px;}
@media screen and (max-width:959px){
.error .code404 li.big { font-size:64px;}
.error .code404 li.big span { font-size:96px;}
.error .code404 li.sml { font-size:32px;}
}
/*↑英語↑*/
/*↓本文↓*/
.error .message p { color:#FFF; line-height:1.0; text-shadow:0 1px 1px rgba(0,0,0,0.6);}
.error .message p.txt1 { font-size:28px;}
.error .message p.txt2 { font-size:36px; margin:16px 0 32px;}
.error .message p.txt3 { font-size:16px; line-height:1.5;}
.error .message p.txt3 a { color:#0DB; margin:0 4px;}
@media screen and (max-width:959px){
.error .message p.txt1 { font-size:20px;}
.error .message p.txt2 { font-size:28px; margin:8px 0 16px;}
.error .message p.txt3 { font-size:12px;}
}
/*↑本文↑*/
/*↓アニメ表示領域↓*/
.anime--area {
	position:absolute; top:64px; left:0;
	width:100%;
	padding:8px;
	}
.anime--area--inner {
	position:relative;
	height:224px;
	}
@media screen and (max-width:959px){
.anime--area { top:0;}
.anime--area--inner { height:168px;}
}
/*↑アニメ表示領域↑*/
/*↓ボス↓*/
.enemy--boss,
.enemy--boss * {
	animation-direction:alternate-reverse;
	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
	}
.enemy--boss {
	display:inline-block;
	width:192px; height:224px;
	animation-duration:4.0s;
	animation-name:Set-Boss1;
	}
@keyframes Set-Boss1 {
from { transform:translate(100%,0);} to { transform:translate(-100%,0);}
}
.enemy--boss ul {
	position:relative;
	width:100%; height:100%;
	background-image:url('/img/404/boss/body.png');
	background-size:cover;
	animation-duration:0.5s;
	animation-name:Set-Boss2;
	}
@keyframes Set-Boss2 {
from { transform:scale(1.0,1.0) translate(0,-48px);} to { transform:scale(0.9,0.9) translate(0, 16px);}
}
.enemy--boss li {
	position:absolute;
	display:block;
	background-size:cover;
	animation-duration:0.25s;
	}
.enemy--boss li.leg1,
.enemy--boss li.leg2 { width:64px; height:64px;}
.enemy--boss li.leg1 {
	background-image:url('/img/404/boss/leg1.png');
	transform-origin:0 0;
	animation-name:BossLeg1;
	}
@keyframes BossLeg1 {
from { top:4%; left:4%;} to { top:-2%; left:-2%;}
}
.enemy--boss li.leg2 {
	background-image:url('/img/404/boss/leg2.png');
	transform-origin:100% 0;
	animation-name:BossLeg2;
	}
@keyframes BossLeg2 {
from { top:4%; right:4%;} to { top:-2%; right:-2%;}
}
.enemy--boss li.arm1,
.enemy--boss li.arm2 { width:64px; height: 128px;}
.enemy--boss li.arm1 {
	background-image:url('/img/404/boss/arm1.png');
	transform-origin:0 100%;
	animation-name:BossArm1;
	}
@keyframes BossArm1 {
from { bottom:8%; left:8%;} to { bottom:-4%; left:-4%;}
}
.enemy--boss li.arm2 {
	background-image:url('/img/404/boss/arm2.png');
	transform-origin:100% 100%;
	animation-name:BossArm2;
	}
@keyframes BossArm2 {
from { bottom:8%; right:8%;} to { bottom:-4%; right:-4%;}
}
@media screen and (max-width:959px){
.enemy--boss { width:144px; height:168px;}
.enemy--boss li { transform: scale(0.75, 0.75);}
}
/*↑ボス↑*/
/*↓爆発↓*/
.explosive {
	position: absolute;
	width:100%; height:100%;
	}
.explosive li {
	position:absolute;
	display:block;
	width:96px; height:96px;
	background-image:url('/img/404/explosive.png');
	background-position:0 0;
	background-size:cover;
	animation:explosive 0.25s steps(8) 1 forwards;
	}
@keyframes explosive {
to { background-position:-768px 0;}
}
@media screen and (max-width:959px){
.explosive li { width:48px; height: 48px;}
@keyframes explosive {
to { background-position:-384px 0;}
}
}
/*↑爆発↑*/