@charset "utf-8";

/*↓大枠↓*/
.sample--data {
	text-align: center;
	padding: 32px 0;
	}
@media screen and (max-width: 959px){
.sample--data {
	padding: 16px 0;
	}
}
/*↑大枠↑*/
/*↓本文↓*/
.sample--data h1 {
	font-size: 28px;
	line-height: 32px;
	padding: 8px;
	}
.sample--data h2 {
	color: #C00;
	font-size: 20px;
	line-height: 24px;
	padding: 8px;
	margin-top: 32px;
	}
.sample--data p {
	font-size: 12px;
	line-height: 20px;
	padding: 8px;
	}
.sample--data p a {
	color: #C00;
	margin: 0 4px;
	}
.sample--data ul {
	padding: 6px;
	line-height: 0;
	}
.sample--data li {
	display: inline-block;
	background: #F6FFFF;
	border: solid 1px #BCC;
	margin: 2px;
	}
.sample--data li:hover {
	background: #FFF;
	border-color: #C00;
	}
.sample--data img {
	display: block;
	max-width: 100%;
	padding: 15px;
	cursor: pointer;
	}
.sample--data li:hover img {
	opacity: 0.75;
	}
@media screen and (max-width: 959px){
.sample--data img {
	padding: 7px;
	}
}
/*↑本文↑*/
/*↓ダウンロード↓*/
.download {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	background: #1F3F4F;
	background: linear-gradient(to top, #0F1F26, #1F3F46);
	box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	border-radius: 4px;
	color: #FFF !important;
	font-size: 12px;
	line-height: 1.0;
	text-decoration: none !important;
	white-space: nowrap;
	padding: 14px 16px 14px 48px;
	margin: 0 !important;
	}
.download:before {
	position: absolute;
	top: 8px;
	left: 16px;
	display: block;
	width: 24px;
	height: 24px;
	background-image: url('/img/icons.png');
	background-position: -48px 0;
	background-size: cover;
	content: "";
	}
/*↑ダウンロード↑*/
