@charset "utf-8";

/*↓footer↓*/
footer {
	position:relative;
	width:100vw;
	background:linear-gradient(to top, #0F1F26, #06090C);
	line-height:1.0;
	text-align:center;
	padding-top:12px;
	padding-bottom:env(safe-area-inset-bottom);
	}
footer:before {
	position:absolute; top:2px; left:0;
	width:100%; height:2px;
	background:#C00;
	content:'';
	}
/*↑footer↑*/
/*↓メニュー↓*/
.foot--menu { padding:8px;}
.foot--menu--item {
	float:left;
	width:25%;
	font-size:12px;
	text-align:left;
	}
.foot--menu--item--tab {
	color:#537683;
	padding:8px;
	}
.foot--menu--item--tab:after {
	display:block;
	width:100%;
	border-top:1px solid #1F2F36;
	margin-top:7px;
	content:'';
	}
.foot--menu--item--list {}
.foot--menu--item--list a {
	display:block;
	color:#6C8F9C;
	text-decoration:none;
	padding:8px;
	transition:color 0.25s, text-shadow 0.25s;
	}
.foot--menu--item--list a:hover {
	color:#FFF;
	text-shadow:0 0 1px #09B, 0 0 8px #9CF;
	}
@media screen and (max-width:959px){
.foot--menu--item {
	width:50%;
	text-align:center;
	}
.foot--menu--item:nth-child(n+3) { margin-top:16px;}
}
@media screen and (max-width:479px){
.foot--menu--item {
	float:none;
	width:100%;
	}
.foot--menu--item:nth-child(n+2) { margin-top:16px;}
}
/*↑メニュー↑*/
/*↓コモンズ↓*/
.foot--creativecommons { padding:16px;}
.foot--creativecommons--ban {
	width:80px; height:15px;
	margin:0 auto 4px;
	}
.foot--creativecommons--txt {
	color:#537683;
	font-size:10px;
	line-height:12px;
	}
.foot--creativecommons--txt br { display:none;}
.foot--creativecommons--txt a {
	color:#FFF;
	margin:0 4px;
	}
@media screen and (max-width:959px){
.foot--creativecommons--txt br { display:inline;}
.foot--creativecommons--txt a {
	display:inline-block;
	margin:4px 0;
	}
}
/*↑コモンズ↑*/
/*↓商標↓*/
.foot--license { padding:16px;}
.foot--license--akashic a {
	display:inline-block;
	width:120px; height:24px;
	background-image:url('/img/akashic-logo/3r.png');
	background-size:contain;
	}
.foot--license--dwango a {
	color:#6C8F9C; font-size:10px;
	margin-top:8px;
	}
/*↑商標↑*/