@charset "utf-8";

/*↓header↓*/
header {
	position: relative;
	width: 100%;
	height: 40px;
	}
header .head--inner {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;/* JQuery */
	height: 40px;
	background: #0F1F26;
	background: linear-gradient(to top, #0F1F26, #1F3F46);
	padding-top: 8px;
	}
header .head--inner:after {
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #C00;
	content: "";
	}
/*↑header↑*/
/*↓ホーム↓*/
.head--logo {
	display: block;
	width: 120px;
	height: 24px;
	background-size: contain;
	background-image: url('/img/akashic-logo/3w.png');
	}
.head--logo:hover {
	background-image: url('/img/akashic-logo/3r.png');
	}
.SP--head--logo--box { display: none;}
@media screen and (max-width: 959px){
.SP--head--logo--box {
	z-index: 3;
	display: block;
	position: fixed;
	top: 8px;
	left: 64px;
	}
}
/*↑ホーム↑*/
/*↓SP：展開↓*/
.SP--head--menu--show,
.SP--head--menu--hide {
	z-index: 5;
	display: none;
	position: fixed;
	top: -1px;
	left: 7px;
	width: 46px;
	height: 46px;
	box-shadow: 0 1px 2px rgba(15,31,38,0.8);
	border: solid 1px #FFF;
	padding: 10px;
	cursor: pointer;
	}
.SP--head--menu--show { background: #C00;}
.SP--head--menu--hide { background: #012;}
.SP--head--menu--show:after,
.SP--head--menu--hide:after {
	width: 24px;
	height: 24px;
	display: block;
	content: "";
	}
.SP--head--menu--show:after {
	background-image: url('/img/akashic-logo/2w.png');
	background-size: contain;
	}
.SP--head--menu--hide:after {
	background-image: url('/img/icons.png');
	background-size: cover;
	background-position: 0 0;
	}
@media screen and (max-width: 959px){
.SP--head--menu--show { display: block;}
}
/*↑SP：展開↑*/
/*↓コンテンツ↓*/
.head--menu {
	z-index: 4;
	position: relative;
	height: 28px;
	text-align: center;
	margin: 0 auto;
	}
.head--menu:before,
.head--menu:after {
	display: none;
	content: "";
	}
@media screen and (max-width: 959px){
.head--menu {
	position: fixed;
	top: 0;
	left: -100vw;
	width: calc(100vw - 20%);
	height: 100%;
	overflow-y: scroll;
	background: #030609;
	box-shadow: 0 0 4px rgba(0,0,0,0.8);
	opacity: 0.0;
	transition: left 0.5s, opacity 0.5s;
	-webkit-overflow-scrolling: auto;
	}
.head--menu::-webkit-scrollbar { display: none;}
.head--menu.show {/* 展開 */
	left: 0;
	opacity: 1.0;
	}
.head--menu:before,
.head--menu:after {
	display: block;
	background-color: #001019;
	background-repeat: repeat-x;
	background-size: contain;
	width: 100%;
	opacity: 0.5;
	}
.head--menu:before {
	height: 32px;
	background-image: url('/img/header/bg-1.png');
	}
.head--menu:after {
	height: 96px;
	background-image: url('/img/header/bg-2.png');
	}
}
/*↑コンテンツ↑*/
/*↓コンテンツ枠↓*/
.head--menu--item {
	position: relative;
	display: inline-block;
	}
.head--menu--item {
	font-size:12px;
	line-height:1.0;
	width: 104px;
	}
.head--menu--item:nth-child(3) {/* 3個目はロゴ */
	width: 120px;
	margin: 0 8px 4px;
	}
@media screen and (max-width: 959px){
.head--menu--item { width: 100%;}
.head--menu--item:nth-child(3) { display: none;}
}
/*↑コンテンツ枠↑*/
/*↓コンテンツ＞タブ↓*/
.head--menu--item--tab { height: 28px;}
.head--menu--item--tab:before,
.head--menu--item--tab:after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	}
.head--menu--item--tab:before {
	width: 100%;
	height: 0;
	background: #C00;
	background: linear-gradient(to top, #C00, #F00);
	border-radius: 4px 4px 0 0;
	opacity: 0.0;
	transition: height 0.25s;
	content: "";
	}
.head--menu--item:hover .head--menu--item--tab:before {
	height: 100%;
	opacity: 1.0;
	}
.head--menu--item--tab:after {/* 文字 */
	width: 100%;
	color: #FFF;
	text-decoration: none !important;
	padding: 8px;
	}
.head--menu--item:nth-child(1) .head--menu--item--tab:after { content: "入門";}
.head--menu--item:nth-child(2) .head--menu--item--tab:after { content: "ガイド";}
.head--menu--item:nth-child(4) .head--menu--item--tab:after { content: "リファレンス";}
.head--menu--item:nth-child(5) .head--menu--item--tab:after { content: "サンプルデモ";}
@media screen and (max-width: 959px){
.head--menu--item--tab {
	height: auto;
	background: #A00;
	background: linear-gradient(to top, #A00, #800);
	box-shadow: 0 0 2px #600 inset;
	}
.head--menu--item--tab:before { display: none;}
.head--menu--item--tab:after {
	position: static;
	text-shadow: 0 1px 1px #600;
	}
}
/*↑コンテンツ＞タブ↑*/
/*↓コンテンツ＞メニュー↓*/
.head--menu--item--list {
	position: absolute;
	top: 28px;
	left: 0;
	background: #C00;
	text-align: left;
	padding: 4px 0;
	visibility: hidden;
	opacity: 0.0;
	transition: visibility 0.25s, opacity 0.25s;
	}
.head--menu--item:nth-child(n+4) .head--menu--item--list {/* 4個目から右寄せ */
	left: auto;
    right: 0;
	}
.head--menu--item:hover .head--menu--item--list {
	visibility: visible;
	opacity: 1.0;
	}
.head--menu--item--list li {
	height: 0;
	transition: height 0.25s;
	}
.head--menu--item:hover .head--menu--item--list li { height: 32px;}
.head--menu--item--list li a {
	display: block;
	background: #C00;
	color: #FCC;
	white-space: nowrap;
	text-decoration: none;
	padding: 10px 16px;
	transition: background 0.25s, color 0.25s;
	}
.head--menu--item--list li a:hover {
	background: #900;
	color: #FFF;
	}
@media screen and (max-width: 959px){
.head--menu--item--list {
	visibility: visible;/* 強制 */
	opacity: 1.0;/* 強制 */
	position: static;
	text-align: center;
	border-top: solid 1px #F63;
	border-bottom: solid 1px #600;
	padding: 0;
	}
.head--menu--item--list li,
.head--menu--item:hover .head--menu--item--list li { height: auto;}/* 強制 */
.head--menu--item--list li a { padding: 14px 8px;}
.head--menu--item--list li a:hover { background: #C00;}
}
/*↑コンテンツ＞メニュー↑*/