---
layout: default
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport"    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="description" content="AkashicEngineはJavaScriptで動作するマルチプラットフォーム対応ゲーム開発エンジンです">
<meta name="theme-color" content="#0F1F26">
<title>Akashic</title>
<link rel="icon"       href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="stylesheet" href="/css/reset.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/common.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/index.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/header.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/footer.css?{% include file-update.html %}">
<script src="/lib/jquery-3.2.1.min.js"></script>
<script src="/lib/header.js?{% include file-update.html %}"></script>
<script src="/lib/index.js?{% include file-update.html %}"></script>
<script src="/lib/common.js?{% include file-update.html %}"></script>
</head>
<body>
<div id="OuterBox">
<!--↓ヘッダ↓-->
{% include header.html %}
<!--↑ヘッダ↑-->
<!--↓導入↓-->
<section class="intro">
	<div class="intro--video"></div>
<div class="intro--inner">
<!--↓導入＞上側(ロゴ)↓-->
<div class="intro--sec1">
	<div class="intro--logo"></div>
</div>
<!--↑導入＞上側(ロゴ)↑-->
<!--↓導入＞下側(コピー＋ボタン)↓-->
<div class="intro--sec2">
	<p class="intro--txt1">Akashic Engine</p>
	<p class="intro--txt2">HTML5インタラクティブコンテンツフレームワーク</p>
	<p class="intro--txt3">HTML5 Interactive content framework</p>
	<p class="intro--demo--open">サンプルデモをみる</p>
</div>
<!--↑導入＞下側(ボタン)↑-->
<!--↓デモ↓-->
<div class="intro--demo">
	<div class="intro--demo--iframe">
		<div class="w512h384"><iframe src="demo/ready.html" id="DEMO" name="DEMO"><!--デモ表示領域--></iframe></div>
	</div>
	<div class="intro--demo--menu">
		<ul class="intro--demo--menu--set"><!--
		--><li class="intro--demo--menu--item"><a href="/demo/galaxywars/" target="DEMO"><img src="/img/index/demo-title-gw.png" alt="GALAXY WARS"></a></li><!--
		--><li class="intro--demo--menu--item"><a href="/demo/hoppingwitch/" target="DEMO"><img src="/img/index/demo-title-hw.png" alt="HOPPING WITCH"></a></li><!--
		<li class="intro--demo--menu--item"><a href="/demo/????/" target="DEMO"><p>文字リンクOK</p></a></li>
		--></ul>
	</div>
	<p class="intro--demo--close">サンプルデモを終了</p>
</div>
<!--↑デモ↑-->
</div>
</section>
<!--↑導入↑-->
<!--↓赤線↓-->
<div class="split--redline"></div>
<!--↑赤線↑-->
<!--↓特徴↓-->
<section class="feature">
<div class="responsive--width cfix">
<ul>
<li class="feature--item">
	<div class="feature--item--box">
	<p class="feature--item--tit">100% TypeScript製</p>
	<p class="feature--item--des">コンテンツもTypeScriptで開発可能</p>
	<p class="feature--item--des">もちろんJavaScriptもサポート</p>
	</div>
</li>
<li class="feature--item">
	<div class="feature--item--box">
	<p class="feature--item--tit">高い拡張性</p>
	<p class="feature--item--des">アニメーションライブラリや物理エンジン等を標準提供</p>
	<p class="feature--item--des">自作ライブラリをnpmで公開可能</p>
	</div>
</li>
<li class="feature--item">
	<div class="feature--item--box">
	<p class="feature--item--tit">周辺ツールサポート</p>
	<p class="feature--item--des">ビットマップフォントジェネレータ</p>
	<p class="feature--item--des">音声ファイルコンバータ</p>
	</div>
</li>
<li class="feature--item">
	<div class="feature--item--box">
	<p class="feature--item--tit">オープンソース</p>
	<p class="feature--item--des">MITライセンスで無償利用可能</p>
	</div>
</li>
</ul>
</div>
</section>
<!--↑特徴↑-->
<!--↓入門↓-->
<section class="getstart">
<div class="responsive--width">
	<ul class="cfix">
	<li class="getstart--sec1">
	<h2>Akashic Engine</h2>
	<p class="txt1">に触れてみよう</p>
	<p class="txt2">Getting Started</p>
	</li>
	<li class="getstart--sec2">
	<p>Akashic EngineはJavaScriptで動作するゲームエンジンです。 <br>
	オープンソースで公開されており、制作したゲームの公開にロイヤリティは必要ありません。<br>
	ゲーム開発で利用できるライブラリとツールが用意されており、今すぐ開発を始めることができます。</p>
	</li>
	<li class="getstart--sec3">
	<a href="/tutorial/tutorial-v2.html">
	<div></div>
	<p>Akashic Engine<br>入門 v2 へ進む</p>
	</a>
	</li>
	</ul>
</div>
</section>
<!--↑入門↑-->
<!--↓配布↓-->
<section class="distribution">
<div class="responsive--width cfix">
<!--↓配布＞ライブラリ↓-->
<div class="distro--complex">
	<h2>拡張ライブラリ・周辺ツール</h2>
	<div class="cfix">
	<p>アニメーション：</p>
	<ul>
	<li><a href="https://github.com/akashic-games/akashic-timeline" target="_blank">akashic-timeline</a> - Akashic 用トゥイーンアニメーションライブラリ</li>
	<li><a href="https://github.com/akashic-games/akashic-animation" target="_blank">akashic-animation</a> - Akashic 用ボーンアニメーションライブラリ</li>
	<li><a href="https://github.com/akashic-games/ss2asa" target="_blank">ss2asa</a> - <a href="http://www.webtech.co.jp/spritestudio/" target="_blank">OPTPiX SpriteStudio</a> で作成したアニメーションを <a href="/reference/akashic-animation/">akashic-animation</a> 形式に変換するツール</li>
    <li><a href="https://github.com/akashic-games/db2asa" target="_blank">db2asa</a> - <a href="http://dragonbones.com/en/" target="_blank">DragonBones</a> で作成したアニメーションを <a href="/reference/akashic-animation/">akashic-animation</a> 形式に変換するツール</li>
	<li><a href="https://github.com/akashic-games/ot2asa" target="_blank">ot2asa</a> - <a href="https://opentoonz.github.io/" target="_blank">OpenToonz</a> で作成したアニメーションを <a href="/reference/akashic-animation/">akashic-animation</a> 形式に変換するツール</li>
	</ul>
	</div>
	<div class="cfix">
	<p>テキスト：</p>
	<ul>
	<li><a href="https://github.com/akashic-games/akashic-label" target="_blank">akashic-label</a> - 自動折り返しやルビ付き文字をサポートするテキスト描画エンティティ</li>
	</ul>
	</div>
	<div class="cfix">
	<p>アセット生成：</p>
	<ul>
	<li><a href="https://github.com/akashic-games/bmpfont-generator" target="_blank">bmpfont-generator</a> - ビットマップフォント画像生成ツール</li>
    <li><a href="https://github.com/akashic-games/complete-audio" target="_blank">complete-audio</a> - Akashic 用の音声ファイルを揃える変換ツール</li>
	</ul>
	</div>
	<div class="cfix">
	<p>その他：</p>
	<ul>
    <li><a href="https://github.com/akashic-games/akashic-tile" target="_blank">akashic-tile</a> - タイルマップ(マップチップ画像片を敷き詰めたもの)描画エンティティ</li>
	<li><a href="https://github.com/akashic-games/akashic-box2d" target="_blank">akashic-box2d</a> - Akashic用二次元物理エンジンライブラリ</li>
	</ul>
	</div>
</div>
<!--↑配布＞ライブラリ↑-->
<!--↓配布＞リポリトジ↓-->
<div class="distro--simple">
	<h2>リポジトリ</h2>
	<ul><!--
	--><li><a href="https://github.com/akashic-games/akashic-engine" target="_blank">akashic-engine</a></li><!--
	--><li><a href="https://github.com/akashic-games/akashic-cli" target="_blank">akashic-cli</a></li><!--
	--><li><a href="https://github.com/akashic-games/akashic-sandbox" target="_blank">akashic-sandbox</a></li><!--
	--></ul>
</div>
<!--↑配布＞リポリトジ↑-->
<!--↓配布＞サンプル↓-->
<div class="distro--simple">
	<h2>サンプルデモ</h2>
	<ul><!--
	--><li><a href="/asset/helloworld.html">Hello World</a></li><!--
	--><li><a href="/asset/scale-rotate-opacity.html">拡縮・回転・透明度</a></li><!--
	--><li><a href="/asset/bitmap-font.html">ビットマップフォント</a></li><!--
	--><li><a href="/asset/framesprite.html">フレームアニメーション</a></li><!--
	--><li><a href="/asset/touchevent.html">タッチイベント</a></li><!--
	--><li><a href="/asset/tile.html">タイル</a></li><!--
	--><li><a href="/asset/simpleshot.html">アブストラクトシューティング</a></li><!--
	--><li><a href="/asset/hoppingwitch.html">HOPPING WITCH</a></li><!--
	--><li><a href="/asset/galaxywars.html">GALAXY WARS</a></li><!--
	--><li><a href="/asset/material.html">サンプルデモの素材</a></li><!--
	--></ul>
</div>
<!--↑配布＞サンプル↑-->
</div>
</section>
<!--↑配布↑-->
<!--↓支援(未使用)↓-->
<section class="supported" style="display: none;">
<div class="supported--inner responsive--width">
<p class="supported--title"><span>S</span>upported frameworks</p>
	<div class="supported--box"><!--
	--><a href="https://game.nicovideo.jp/atsumaru/" target="_blank"><img src="/img/index/supported/rpgatumaru.png" alt="RPGアツマール"></a><!--
	--></div>
</div>
</section>
<!--↑支援(未使用)↑-->
<!--↓フッタ↓-->
{% include footer.html %}
<!--↑フッタ↑-->
</div></body>
</html>