@charset "utf-8";

/*↓body↓*/
body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: #0F1F26;
	color: #FFF;
	}
/*↑body↑*/
/*↓画面を暗く↓*/
.window--dark {
	z-index: 1;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	opacity: 0.0;
	transition: visibility 0.5s, opacity 0.5s;
	}
.window--dark.show {
	visibility: visible;
	opacity: 1.0;
	}
/*↑画面を暗く↑*/
/*↓ページ幅均一化↓*/
#OuterBox {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100vw;
	height: 100vh;
	-webkit-overflow-scrolling: touch;
	}
#OuterBox.lock {
	overflow-y: hidden;
	border-right: solid 4px #CCC;/* スクロールバー幅を埋める */
	}
/*↑ページ幅均一化↑*/
/*↓ページコンテンツ格納↓*/
section.page--body {
	background: #FFF;
	color: #334353;
	}
/*↑ページコンテンツ格納↑*/
/*↓幅944px⇔100%↓*/
.responsive--width {
	width: 944px;
	margin: 0 auto;
	}
@media screen and (max-width: 959px){
.responsive--width { width: 100%;}
}
/*↑幅944px⇔100%↑*/
/*↓ページの先頭へ↓*/
.page--top {
	z-index: 1;
	position: fixed;
	bottom: 0;
	right: calc(50% - 448px);
	display: none;
	width: 48px;
	height: 48px;
	background: #900;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 2px 4px rgba(15,31,38,0.8);
	padding: 8px;
	cursor: pointer;
	}
.page--top:after {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('/img/icons.png');
	background-size: cover;
	background-position: -32px 0;
	content: "";
	}
@media screen and (max-width: 959px){
.page--top { right: 24px;}
}
/*↑ページの先頭へ↑*/