---
layout: default
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport"    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="description" content="AkashicEngineはJavaScriptで動作するマルチプラットフォーム対応ゲーム開発エンジンです">
<meta name="theme-color" content="#0F1F26">
<title>サンプルデモ - Akashic</title>
<link rel="icon"       href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="stylesheet" href="/css/reset.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/common.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/header.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/akashic-document.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/footer.css?{% include file-update.html %}">
<script src="/lib/jquery-3.2.1.min.js"></script>
<script src="/lib/header.js?{% include file-update.html %}"></script>
<script src="/lib/common.js?{% include file-update.html %}"></script>
</head>
<body>
<div id="OuterBox">
<!--↓ヘッダ↓-->
{% include header.html %}
<!--↑ヘッダ↑-->
<!--↓ボディ↓-->
<section class="page--body">
<div class="akashic--document responsive--width">
<h1>サンプルデモ</h1>
<ul>
<li><a href="/asset/helloworld.html">Hello World</a></li>
<li><a href="/asset/scale-rotate-opacity.html">拡縮・回転・透明度</a></li>
<li><a href="/asset/bitmap-font.html">ビットマップフォント</a></li>
<li><a href="/asset/framesprite.html">フレームアニメーション</a></li>
<li><a href="/asset/touchevent.html">タッチイベント</a></li>
<li><a href="/asset/tile.html">タイル</a></li>
<li><a href="/asset/simpleshot.html">アブストラクトシューティング</a></li>
<li><a href="/asset/hoppingwitch.html">HOPPING WITCH</a></li>
<li><a href="/asset/galaxywars.html">GALAXY WARS</a></li>
</ul>
<ul>
<li><a href="/asset/material.html">素材</a></li>
</ul>
</div>
</section>
<!--↑ボディ↑-->
<!--↓フッタ↓-->
{% include footer.html %}
<!--↑フッタ↑-->
</div></body>
</html>