---
layout: default
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport"    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="description" content="AkashicEngineはJavaScriptで動作するマルチプラットフォーム対応ゲーム開発エンジンです">
<meta name="theme-color" content="#0F1F26">
<title>拡縮・回転・透明度 - Akashic</title>
<link rel="icon"       href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="stylesheet" href="/css/reset.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/common.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/header.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/asset.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/styles/railscasts.css">
<link rel="stylesheet" href="/css/footer.css?{% include file-update.html %}">
<script src="/lib/jquery-3.2.1.min.js"></script>
<script src="/lib/common.js?{% include file-update.html %}"></script>
<script src="/lib/header.js?{% include file-update.html %}"></script>
<script src="/lib/asset.js?{% include file-update.html %}"></script>
<script src="/lib/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div id="OuterBox">
<!--↓ヘッダ↓-->
{% include header.html %}
<!--↑ヘッダ↑-->
<!--↓demoヘッダ↓-->
<section class="demo--head">
<div class="responsive--width cfix">
	<div class="demo--head--main">
	<div class="w320h240"><iframe id="DEMO" src="/demo/scale-rotate-opacity/"></iframe></div>
	</div>
	<div class="demo--head--info">
	<h1>拡縮・回転・透明度</h1>
	<p>g.Eのscale,rotate,opacityプロパティで拡縮・回転・透明度が制御できます。</p>
	</div>
</div>
</section>
<!--↑demoヘッダ↑-->
<div id="FileAnchor"><!--スクロール到達地点調節用--></div>
<!--↓demoボディ↓-->
<section class="demo--body">
<div class="responsive--width cfix">
<!--↓FILE↓-->
<div class="demo--body--list">
	<ul><!--
	--><li class="selected">game.json</li><!--
	--><li>main.js</li><!--
	--><li>素材</li><!--
	--></ul>
</div>
<!--↑FILE↑-->
<!--↓CODE↓-->
<div class="demo--body--item">
<pre id="DEMO-ITEM-1"><code>{
	"width": 320,
	"height": 240,
	"fps": 30,
	"main": "./script/main.js",
	"assets": {
		"main": {
			"type": "script",
			"path": "script/main.js",
			"global": true
		},
		"player": {
			"type": "image",
			"width": 63,
			"height": 53,
			"path": "image/player.png"
		}
	}
}</code></pre>
<pre id="DEMO-ITEM-2" style="display: none;"><code>function main(param) {
	// シーンの生成
	var scene = new g.Scene({
		game: g.game,
		assetIds: ["player"] // 利用アセットとして "player" を宣言
	});

	// シーン初期化時の処理
	scene.loaded.handle(function() {
		// 回転するエンティティを生成
		var rotatingEntity = new g.Sprite({
			scene: scene,
			src: scene.assets["player"],
			x: 20,
			y: 20
		});
		// update トリガーを使い、毎フレーム呼び出される処理を登録
		rotatingEntity.update.handle(function () {
			rotatingEntity.angle++; // 回転角度を変更
			rotatingEntity.modified(); // 変更をエンジンに通知
		});
		scene.append(rotatingEntity); // シーンに追加

		// 拡大縮小するエンティティを生成
		var counterForScale = 0;  // 拡大率を制御する変数
		var scalingEntity = new g.Sprite({
			scene: scene,
			src: scene.assets["player"],
			x: 120,
			y: 20
		});
		// update トリガーを使い、毎フレーム呼び出される処理を登録
		scalingEntity.update.handle(function () {
			counterForScale += 0.05;
			var scaleFactor = 2 * Math.abs(Math.sin(counterForScale));  // counterForScale の値に応じて 0〜2 の間で変動する値
			scalingEntity.scale(scaleFactor); // 拡大率を変更
			scalingEntity.modified(); // 変更をエンジンに通知
		});
		scene.append(scalingEntity); // シーンに追加

		// 明滅するエンティティを生成
		var counterForOpacity = 0;  // 不透明度を制御する変数
		var blinkingEntity = new g.Sprite({
			scene: scene,
			src: scene.assets["player"],
			x: 220,
			y: 20
		});
		// update トリガーを使い、毎フレーム呼び出される処理を登録
		blinkingEntity.update.handle(function () {
			counterForOpacity += 0.1;
			var opacity = (Math.sin(counterForOpacity) + 1) / 2;  // counterForOpacity の値に応じて 0〜1 の間で変動する値
			blinkingEntity.opacity = opacity; // 不透明度を変更
			blinkingEntity.modified(); // 変更をエンジンに通知
		});
		scene.append(blinkingEntity); // シーンに追加
	});

	g.game.pushScene(scene);
}

module.exports = main;</code></pre>
<!--↓CODE＞IMAGES↓-->
<div id="DEMO-ITEM-3" style="display: none;">
<img src="/demo//scale-rotate-opacity/image/player.png" alt="">
</div>
<!--↑CODE＞IMAGES↑-->
</div>
<!--↑CODE↑-->
</div>
</section>
<!--↑demoボディ↑-->
<!--↓フッタ↓-->
{% include footer.html %}
<!--↑フッタ↑-->
</div></body>
</html>