---
layout: default
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport"    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="description" content="AkashicEngineはJavaScriptで動作するマルチプラットフォーム対応ゲーム開発エンジンです">
<meta name="theme-color" content="#0F1F26">
<title>アセットロードエラーについて - Akashic</title>
<link rel="icon"       href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="stylesheet" href="/css/reset.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/common.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/header.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/akashic-document.css?{% include file-update.html %}">
<link rel="stylesheet" href="/css/styles/railscasts.css">
<link rel="stylesheet" href="/css/footer.css?{% include file-update.html %}">
<script src="/lib/jquery-3.2.1.min.js"></script>
<script src="/lib/header.js?{% include file-update.html %}"></script>
<script src="/lib/common.js?{% include file-update.html %}"></script>
<script src="/lib/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div id="OuterBox">
<!--↓ヘッダ↓-->
{% include header.html %}
<!--↑ヘッダ↑-->
<!--↓ボディ↓-->
<section class="page--body">
<div class="akashic--document responsive--width">

<h1>アセットロードエラーについて</h1>

<h2 id="これは" name="これは">これは</h2>

<p>アセットロードエラーとそのハンドリング方法について述べます。</p>

<h2 id="アセットロードエラーとは" name="アセットロードエラーとは">アセットロードエラーとは</h2>

<p>アセットロードエラーとはアセットの読み込みに失敗したことを意味するエラーです。</p>
<p><code>game.json</code>で指定したアセットがサーバ上に存在しない場合や、ネットワークやサーバ異常によりダウンロード出来ない場合に発生します。</p>

<h2 id="エラーのハンドリング" name="エラーのハンドリング">エラーのハンドリング</h2>

<p>ゲームコンテンツからアセットロードエラーをハンドリングするコードの例を以下に示します。</p>

<pre><code>var scene = new g.Scene({game: game, assetIds: [&quot;apple&quot;], name: &quot;SampleScene&quot;});
// ハンドラを登録
scene.assetLoadFailed.add(function (failure) {
    // Loggerでログ出力
    game.logger.warn(&quot;load error for &#39;&quot; + failure.asset.id + &quot;&#39; in &quot; + scene.name, failure);
    // リトライ不可能の場合、この後ゲームが終了される
    if (!failure.error.retriable)
        game.logger.error(&quot;bye.&quot;, failure);
});</code></pre>

<p>アセットロードエラーが発生した場合、<code>Scene#assetLoadFailed</code>に登録したハンドラが呼び出されます。</p>
<p>上記の例では、アセットID<code>&quot;apple&quot;</code>の読み込みに失敗した場合に、ハンドラが呼び出されます。</p>
<p>ハンドラが呼び出された時、ハンドラの第一引数<code>failure</code>は<code>AssetLoadFailureInfo</code>となります。</p>
<p><code>AssetLoadFailureInfo</code>にはアセットロードエラーに関する情報が含まれており、ゲームコンテンツは上記の例のようにログ出力等の処理を行うことが可能です。</p>
<p><code>AssetLoadFailureInfo</code>の詳細はAPIリファレンスを参照してください。<!-- TODO:APIリファレンスへのハイパーリンク --></p>
<p>アセットの読み込みに失敗した場合、Akashicは読み込みの再試行を行う機構を備えています。</p>
<p>再試行できない要因(HTTP 404 Not Foundなど)で失敗、又は再試行回数の上限を超えた場合、Akashicは自動的にゲーム続行が不可能だと判断し、ハンドラの呼び出し後にゲームを終了します。</p>
<p>Akashicがアセット読み込みの再試行を行うかどうかは<code>failure.error.retriable</code>を参照することで判断することが可能です。</p>
<p>この値が<code>false</code>の場合、Akashicはハンドラ呼出し後にゲームを終了します。</p>

<h2 id="再試行のキャンセル" name="再試行のキャンセル">再試行のキャンセル</h2>

<p>ゲームコンテンツは、 アセットロードエラーのハンドラ内で<code>failure.cancelRetry</code>に<code>true</code>にセットすることで、Akashicが行うアセット読み込みの再試行をキャンセルすることが可能です。</p>
<p>以下に例を示します。</p>

<pre><code>scene.assetLoadFailed.add(function (failure) {
    // 再試行をキャンセルし、ゲーム続行を断念する
    failure.cancelRetry = true;
    game.logger.error(&quot;bye.&quot;, failure);
});</code></pre>

<p>ハンドラ内で<code>failure.cancelRetry</code>に<code>true</code>がセットされると、 Akashicはハンドラ呼出し後にゲームを終了します。</p>

<h2 id="その他" name="その他">その他</h2>

<p>アセットロードエラー発生時の処理は、実行環境によって異なるものになる可能性がありますのでご注意下さい。</p>

</div>
</section>
<!--↑ボディ↑-->
<!--↓フッタ↓-->
{% include footer.html %}
<!--↑フッタ↑-->
</div></body>
</html>