<div class="page--top"></div>
<div class="window--dark"></div>
<header>
<div class="SP--head--content--show"></div>
<div class="SP--head--content--hide"></div>
<div class="head--inner">
<div class="head--content--close"></div>
<a class="SP--head--logo" href="/" title="ホーム"></a>
<!--↓コンテンツ↓-->
<ul class="head--content"><!--
--><li class="head--content--item">
	<p class="head--content--item--tab"></p>
	<ul class="head--content--item--list">
	<li><a href="/tutorial/tutorial-v2.html">Akashic Engine入門 v2</a></li>
	<li><a href="/tutorial/tutorial.html">Akashic Engine入門 v1(deprecated)</a></li>
	</ul>
</li><!--
--><li class="head--content--item">
	<p class="head--content--item--tab"></p>
	<ul class="head--content--item--list">
	<li><a href="/guide/akashic-cli.html">akashic-cli利用ガイド</a></li>
	<li><a href="/guide/game-json.html">game.jsonの仕様</a></li>
	<li><a href="/guide/asset-recommended-spec.html">素材の推奨仕様</a></li>
	<li><a href="/guide/composite-operation.html">CompositeOperationの利用</a></li>
	<li><a href="/guide/storage.html">ストレージについて</a></li>
	<li><a href="/guide/asset-load-error.html">アセットロードエラーについて</a></li>
	<li><a href="/guide/atsumaru.html">RPGアツマール投稿ガイド</a></li>
	<li><a href="/guide/template-guide.html">akashic initテンプレート利用ガイド</a></li>
	</ul>
</li><!--
--><li class="head--content--logo"><a href="/" title="ホーム"></a></li><!--
--><li class="head--content--item">
	<p class="head--content--item--tab"></p>
	<ul class="head--content--item--list">
	<li><a href="/reference/akashic-engine-v1/modules/_lib_main_d_.g.html">akashic-engine v1.x(deprecated)</a></li>
	<li><a href="/reference/akashic-engine-v2/modules/_lib_main_d_.g.html">akashic-engine v2.x</a></li>
	<li><a href="/reference/akashic-timeline/">akashic-timeline</a></li>
	<li><a href="/reference/akashic-animation/">akashic-animation</a></li>
	<li><a href="/reference/akashic-label/">akashic-label</a></li>
	<li><a href="/reference/akashic-tile/">akashic-tile</a></li>
	<li><a href="/reference/akashic-box2d/">akashic-box2d</a></li>
	</ul>
</li><!--
--><li class="head--content--item">
	<p class="head--content--item--tab"></p>
	<ul class="head--content--item--list">
	<li><a href="/asset/helloworld.html">Hello World</a></li>
	<li><a href="/asset/scale-rotate-opacity.html">拡縮・回転・透明度</a></li>
	<li><a href="/asset/bitmap-font.html">ビットマップフォント</a></li>
	<li><a href="/asset/framesprite.html">フレームアニメーション</a></li>
	<li><a href="/asset/touchevent.html">タッチイベント</a></li>
	<li><a href="/asset/tile.html">タイル</a></li>
	<li><a href="/asset/simpleshot.html">アブストラクトシューティング</a></li>
	<li><a href="/asset/hoppingwitch.html">HOPPING WITCH</a></li>
	<li><a href="/asset/galaxywars.html">GALAXY WARS</a></li>
	<li><a href="/asset/material.html">サンプルデモの素材</a></li>
	</ul>
</li><!--
--></ul>
<!--↑コンテンツ↑-->
</div>
</header>