name: Issue Broken Link

on:
  page_build

permissions:
    issues: write
    contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
      - name: link check
        run: |
          npm ci
          npx broken-link-checker https://akashic-games.github.io/ -roe --requests 1 --exclude localhost:3000 | grep BROKEN > ./link_check_result.txt
        continue-on-error: true
      - name: save result
        id: result
        run: |
          BROKEN_RESULT="$(cat ./link_check_result.txt)"
          echo "broken_result<<EOF" >> $GITHUB_OUTPUT
          echo "$BROKEN_RESULT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: count result
        id: count
        run: |
          echo "count=$(cat ./link_check_result.txt | wc -l)" >> $GITHUB_OUTPUT
      - name: create issue
        if: steps.count.outputs.count > 0
        run: |
          sed "s/{{ RESULT }}/${RESULT}/g" .github/issue-broken-link-template.md > body_rendered.md
          EXISTING_ISSUE_URL=$(gh issue list --search "${ISSUE_TITLE} in:title is:open" --json url --jq '.[0].url')

          if [ -n "${EXISTING_ISSUE_URL}" ]; then
            gh issue edit "${EXISTING_ISSUE_URL}" --body-file body_rendered.md
          else
            gh issue create \
              --title "${ISSUE_TITLE}" \
              --body-file body_rendered.md \
              --label "${ISSUE_LABELS}" \
              --assignee "${{ github.actor }}"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RESULT: ${{ steps.result.outputs.broken_result }}
          ISSUE_TITLE: "broken link found."
          ISSUE_LABELS: "invalid"
